<h1> Convert <%= @first %> to <%= @second %> </h1>
Convert <%#= @raw_data %>  
Convert <%= @parsed_data2 %> 
Convert <%#= @symbols2 %> 
<p> 1 <%= @first %> equals 0.339787 <%= @second %>. </p>

<p> Go <a href="/forex/<%= @first %>"> back </p>